.profileHeader {
  z-index: -1;
  height: 75px;
  box-shadow: 1px 1px 5px lightgray;
  border-radius: 0px;
}

// .userProfile{
//     height: 50px !important;
//     width: 50px !important;
//     background-color: white !important;
//     border: 1px solid black;
//     border-radius: 50%;
//     color: black !important;
// }

.dropDown {
  color: red !important;
}
